<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Урок №13</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Урок №13: Управление отображением элементов</h1>
    <p>
        <a href="index.html">В начало</a> |
        <a href="12.html">Предыдуйщий урок</a> |
        <a href="14.html">Следующий урок</a>
    </p>
    <hr>

    <div id="app">

        <h2 v-if="isVisible">I am visible!</h2>
        <h2 v-else>No I am not!</h2>
        <button @click="isVisible = !isVisible">Toggle</button>

        <h2 v-if="type === 'a'">A</h2>
        <h2 v-else-if="type === 'b'">B</h2>
        <h2 v-else-if="type === 'c'">C</h2>
        <h2 v-else>not match</h2>
        <input type="text" v-model="type">

        <template v-if="isVisible2">
            <h2>I am title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, error?</p>
        </template>
        <template v-else>
            <h2 style="color: red">I am title</h2>
            <p style="color: blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, error?</p>
        </template>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                isVisible: true,
                type: 'a',
                isVisible2: false
            }
        })

    </script>
</body>
</html>