<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Урок №15</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Урок №15: Работа со списками</h1>
    <p>
        <a href="index.html">В начало</a> |
        <a href="14.html">Предыдуйщий урок</a> |
        <a href="16.html">Следующий урок</a>
    </p>
    <hr>

    <div id="app">

        <ul>
            <li v-for="(person, index) of people">{{ index + 1}}. {{ person.name }} - <b>{{ person.age }}</b></li>
        </ul>

        <ul>
            <li v-for="num of 7">{{ num }}</li>
        </ul>

        <ul>
            <li v-for="(value, key, index) of person"><em>{{ index + 1 }}</em> <b>{{ key }}</b>: {{ value }}</li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                people: [
                    {name: 'Vadim', age: 20},
                    {name: 'Max', age: 25},
                    {name: 'Elena', age: 30},
                    {name: 'Volodya', age: 35}
                ],
                person: {
                    name: 'Max',
                    age: 50,
                    job: 'Frontend'
                }
            }
        })

    </script>
</body>
</html>